:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* ______________________ font face ______________________ */



@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: bold;
  src: url('/font/IRANSansWeb_Bold.eot');
  src: url(/font/iranian_sans-webfont.svg) format('svg');
  src: url('/font/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/font/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/font/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

  url('/font/IRANSansWeb_Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url('/font/IRANSansWeb.eot');
  src: url(/font/iranian_sans-webfont.svg) format('svg');
  src: url('/font/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/font/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/font/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/font/IRANSansWeb.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 300;
  src: url('/font/IRANSansWeb.eot');
  src: url(/font/iranian_sans-webfont.svg) format('svg');
  src: url('/font/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/font/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/font/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/font/IRANSansWeb.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 200;
  src: url('/font/IRANSansWeb.eot');
  src: url(/font/iranian_sans-webfont.svg) format('svg');
  src: url('/font/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/font/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/font/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/font/IRANSansWeb.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: normal;
  src: url('/font/IRANSansWeb.eot');
  src: url(/font/iranian_sans-webfont.svg) format('svg');
  src: url('/font/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/font/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/font/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/font/IRANSansWeb.ttf') format('truetype');
  font-display: swap;
}

/* ______________________ css code ______________________ */


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: iransans;
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


/* ------------------ main website code ------------------*/


.svg_banner{
  display: block;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    margin-top: 56px;
}
.svg_banner img{
    width: 100%;
    height: max-content;
    position: absolute;
}
.front_banner{
    bottom: -250px;
    z-index: 5;
}
.midel_banner{
    bottom: -150px;
}
.back_banner{
    bottom: -180px;
}
.logoInBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
}
@keyframes dancing_logo {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1) rotateY(360deg);
    }
}
.logoInBanner img{
    display: block;
    width: 480px;
    height: max-content;
    z-index: 4;
    transform: scale(0);
    animation: dancing_logo 2s ease-in-out forwards;
}

/* ------------------ ourService ------------------*/

.ourService{
  display: block;
  width: 100%;
  min-height: 1300px;
  height: max-content;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 0 90%);
}
.ourService .ourServiceTitel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: max-content;
  text-align: center;
}
.ourService .ourServiceTitel h2{
  color: white;
  margin: 0px;
  font-size: 25px;
}
.ourService .ourServiceTitel p{
  color: white;
  width: 70vw;
  text-align: center;
}
/* ____________________________ service part _________________________ */


.servicecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.servicecontainer .servicebox {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.servicecontainer .servicebox::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.servicecontainer .servicebox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.servicecontainer .servicebox:hover:before,
.servicecontainer .servicebox:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.servicecontainer .servicebox:nth-child(1):before,
.servicecontainer .servicebox:nth-child(1):after {
  /* background: linear-gradient(315deg, #ffbc00, #ff0058); */
  background-image: url("/menu/bwg_marbel.jpg");
  background-position: center;
  background-size: contain;
}

.servicecontainer .servicebox:nth-child(2):before,
.servicecontainer .servicebox:nth-child(2):after {
  /* background: linear-gradient(315deg, #03a9f4, #ff0058); */
  background-image: url("/menu/bwg_marbel.jpg");
  background-position: center;
  background-size: contain;
}

.servicecontainer .servicebox:nth-child(3):before,
.servicecontainer .servicebox:nth-child(3):after {
  /* background: linear-gradient(315deg, #4dff03, #00d0ff); */
  background-image: url("/menu/bwg_marbel.jpg");
  background-position: center;
  background-size: contain;
}
.servicecontainer .servicebox:nth-child(4):before,
.servicecontainer .servicebox:nth-child(4):after {
  /* background: linear-gradient(315deg, #8e2de2, #4a00e0); */
  background-image: url("/menu/bwg_marbel.jpg");
  background-position: center;
  background-size: contain;
}

.servicecontainer .servicebox:nth-child(5):before,
.servicecontainer .servicebox:nth-child(5):after {
    /* background: linear-gradient(315deg, #00b09b, #ff6f00); */
    background-image: url("/menu/bwg_marbel.jpg");
    background-position: center;
  background-size: contain;
}

.servicecontainer .servicebox:nth-child(6):before,
.servicecontainer .servicebox:nth-child(6):after {
  /* background: linear-gradient(315deg, #ff6fd8, #3813c2); */
  background-image: url("/menu/bwg_marbel.jpg");
  background-position: center;
  background-size: contain;
}



.servicecontainer .servicebox .serviceboxcontent {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;

}

.servicecontainer .servicebox:hover .serviceboxcontent {
  left: -25px;
  height: 350px;
}

.servicecontainer .servicebox .serviceboxcontent h2 {
  text-align: center; 
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 10px;
}

.servicecontainer .servicebox .serviceboxcontent p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.servicecontainer .servicebox .serviceboxcontent a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.servicecontainer .servicebox .serviceboxcontent a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}
.servicecontainer .servicebox .serviceboxcontent img{
    width: 120px;
    height: max-content;
}
.servicecontainer .servicebox:hover .serviceboxcontent img {
  animation: zoomRotateWiggle 0.8s ease-in-out;
}

@keyframes zoomRotateWiggle {
  0% {
    transform: scale(1) rotate(0deg);
  }
  20% {
    transform: scale(1.05) rotate(-3deg);
  }
  30% {
    transform: scale(1.1) rotate(3deg);
  }
  40% {
    transform: scale(1.05) rotate(-3deg);
  }
  50% {
    transform: scale(1.1) rotate(3deg);
  }
  
  70% {
    transform: scale(1.05) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


/* ------------------ last project on run ------------------*/

.lastProjectSection{
  display: flex;
  width: 100%;
  height: 530px;
  padding-bottom: 60px;

}
.lastProjectSection .textPart{
  display: block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 20px 25px 0 25px ;
  text-align: center;
}
.lastProjectSection .textPart .textPartP{
  font-family: iransans;
}
.lastProjectSection .imagePart{
  display: block;
  width: 50%;
  height: 100%;
  position: relative;
}
.lastProjectSection .imagePart img{
  display: block;
  width: 65%;
  height: max-content;
  position: relative;
  top: 38px;
  right: 90px;
}
.lastProjectSection .imagePart span{
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  transform: skew(20deg);
  background-image: url("/menu/bwg_marbel.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position:left;
  transition: 1s;
}

.moreBtnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height:200px;
  height: max-content;
}
.otherBtnCuboid{
  width: 255px;
  height: 56PX;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.5s ease;
}
.otherFaceBtn {
  position: absolute;
  width: 150px;
  height: 100px;
  border: 3px solid;
  border-image: linear-gradient(45deg, #ffd700, #daa520, #b8860b) 1;
}
.OtherFrontBtn { transform: rotateY(  0deg) translateZ(127px);
  width: 250px;
  height: 53px;
  background-image: url("/menu/blackMarbel.jpg");
  background-size: contain;
}
.OtherFrontBtn p{
  text-align: center;
  color: #fff;
  text-shadow:1px 1px 2px #000 ;
  font-size: 21px;
  line-height: 46px;
  font-weight: 600;
}
.otherLeftBtn   {
  transform: rotateY(-90deg) translateZ(127px);
  width: 250px;
  height: 53px;
  background-image: url("/menu/whiteMarbel.jpg");
  background-size: contain;
}
.otherLeftBtn p{
  text-align: center;
  color: #000;
  font-size: 21px;
  line-height: 46px;
  font-weight: 600;
}
.otherBtnContainer:hover .otherBtnCuboid {
  transform: rotateY(90deg);
}


/* _____________________ pre sele Section _______________________ */

.PreSaleSection{
  display: block;
  width: 100%;
  min-height: 700px;
  height: max-content;
  background-color: black;
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 75% 100%, 0 90%);
  padding-top: 7%;
  padding-bottom: 4%;
}
.titelPart{
  display: inherit;
  width: 70%;
  height: 150px;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
}
.apartemens{
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 450px;
  height: max-content;
}
.apartemensCart{
  display: block;
  width: 300px;
  height: 440px;
  overflow: hidden;
  position: relative;
  border: 3px solid;
  border-image: linear-gradient(45deg, #ffd700, #daa520, #b8860b) 1;
}
.apartemensCart .apartemensCellingType{
  background-color: #ffd700dd;
  width: 80px;
  height: 30px;
  position: absolute;
  top: -7px;
  right: 7px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  border-radius: 6px;
  z-index: 2;
}
.apartemensCart a img{
  width: 100%;
  height: max-content;
  transition: 1s;
}
.apartemensCart:hover .apartemensCartImg{
  transform: scale(1.2);
  transition: 2s;
  transform-origin: center;
}
.apartemensInfo{
  display: block;
  width: 100%;
  height: 240px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
}
.BuildingÙ€type{
  display: block;
  width: 80px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  top: -15px;
  text-align: center;
  line-height: 30px;
  left: 10px;
  border-radius: 6px;
}
.price{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 20px;
  margin-top: 20px;
}
.projectName{
  display: block;
  width: 100%;
  height: max-content;
  color: #daa520;
  text-align: center;
  margin-top: 30px;
}
.projectAdress{
  display: block;
  width: 100%;
  height: max-content;
  text-align: center;
}
.Facilities{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  position: relative;
  top: 30px;
  border-top: 1px dashed #000;
}
.area,.bed{
  border-left: 1px dashed #000;
}
.area,.bed,.bath{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
}
.areaIcon{
  background-image: url(/icon/maximize.svg);
  background-repeat: no-repeat;
  display: flex;
  height: 20px;
  width: 20px;
}
.bedIcon{
  background-image: url(/icon/bed.svg);
  background-repeat: no-repeat;
  display: flex;
  height: 20px;
  width: 20px;
}
.bathIcon{
  background-image: url(/icon/bath-tub.svg);
  background-repeat: no-repeat;
  display: flex;
  height: 20px;
  width: 20px;
}

/* ------------------ call to us part ------------------*/
.callToUsSection{
  display: flex;
  width: 100%;
  min-height: 300px;
  height: max-content;
}
.callToUsSection .textPart{
  width: 50%;
  height: max-content;
  text-align: justify;
  text-align-last: center;
  padding: 0 10px;
  margin-top: 60px;
}
.callToUsSection .imagePart{
  width: 50%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callToUsSection .imagePart img{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

